@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
  
}
.background-div {
  background-image: url("./images/Background\ image.png");
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
  box-shadow: 0 5px 20px rgb(133, 133, 133);
  height: 905px;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: -80px;
}
.logo {
  width: 180px;
  height: 140px;
  bottom: -20px; 
}
nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}
.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.auth-buttons {
  display: flex;
  gap: 10px;
}
.btn {
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  color: black;
}
.btn-login {
  background-color: #cbffd0;
}
.btn-signup {
  background-color: #26a69a;
}
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}
.hero-content {
  flex: 1;
  max-width: 500px;
  margin-top: -120px;
}
.hero-title {
  font-size: 38px;
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 24px;
  max-width: 600px;
}
.hero-description {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 40px;
}
.app-buttons {
  display: flex;
  gap: 16px;
}
.app-button img {
  width: 130px;
  height: 50px;
}
.background-circle {
  right: 31rem;
  bottom: 230px;
  z-index: 1;
  margin: 0 auto;
  padding: 0 20px;
}
.background-circle img {
  position: relative;
  width: 60%;
  height: 10%;
  object-fit: cover;
  right: -49%;
  bottom: -8.5rem;
}
.laptop-image {
  position: relative;
  width: 40%;
  z-index: 2;
  margin-top: -85%;
  right: -8%;
  bottom: -5rem;
}
/* 2nd landing page */
.container{
  display: flex;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
  box-shadow: 0 5px 20px rgb(133, 133, 133);
  margin-bottom: -60px;
  height: 905px;
} 
.hands-on-iphone {
  position: relative;
  z-index: 2;
  bottom: -138px;
  width: 25rem;
}
.mini-background {
  position: relative;
  left: -1.3rem;
  z-index: 1;
  width: 23rem;
  top: -27rem;
}
.right-divider {
  width: 60%;
  margin: 0;
  justify-content: center;
}
.right-divider h2{
  text-align: left;
  justify-content: center;
  font-weight: 900;
  font-size: 44px;
  margin-left: 5%;
  margin-top: 8%;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 90px;
  padding: 0 20px;
}
.item {
  padding: 0 20px;
  font-weight: 700;
  background-color: #CBFFD0;
  margin: 0 5px;
}
.item-1 {
  background-color:#CBFFD0;
  justify-content: center;
  margin: 0 auto;
  border-radius: 20px;
  width: 280px;
  height: 300px;
  padding: 0 10px;
}
.item h3{
  font-size: 25px;
  padding: 0 10px;
}
.grid-image-1{
  width: 110px;
  height: 80px;
  padding: 0 10px;
  margin-top: 5%;
}
.item-1 p{
  font-size: 18px;
  font-weight: 400;
  padding: 0 10px;
}
.item-2 {
  background-color:#26A69A;
  justify-content: center;
  padding: 8px;
  border-radius: 20px;
  width: 280px;
  height: 300px;
  padding: 0 10px;
  margin: 0 auto;
}
.grid-image-2{
  width: 105px;
  height: 80px;
  padding: 0 10px;
  margin-top: 5%;
}
.item-2 p{
  font-size: 18px;
  font-weight: 400;
  padding: 0 10px;
}
.item-3 {
  background-color:#26A69A;
  justify-content: center;
  padding: 8px;
  border-radius: 20px;
  width: 280px;
  height: 300px;
  padding: 0 10px;
  margin: 0 auto;
}
.grid-image-3{
  color: #26A69A;
  width: 105px;
  height: 80px;
  padding: 0 10px;
  margin-top: 5%;
}
.item-3 p{
  font-size: 18px;
  font-weight: 400;
  padding: 0 10px;
}
.item-4 {
  background-color:#CBFFD0;
  justify-content: center;
  padding: 8px;
  border-radius: 20px;
  width: 280px;
  height: 300px;
  padding: 0 10px;
  margin: 0 auto;
}
.grid-image-4{
  margin-top: 5%;
  width: 105px;
  height: 80px;
  padding: 0 10px;
}
.item-4 p{
  font-size: 18px;
  font-weight: 400;
  padding: 0 10px;
}
/* 3rd landing page */
.third-section {
  background-image: url("./images/Background\ image.png");
  position: relative;
  z-index: 1;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: -150px;
  box-shadow: 0 5px 20px rgb(133, 133, 133);
  height: 905px;
}
.third-section h2{
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  margin-top: 60px;
  line-height: 4.0;
  margin-bottom: -40px;
}
.third-section-pills{
  display: flex;
  justify-content: center;
  gap: 300px;
  margin-top: 80px;
}
.third-section-pills p{
  background-color: #CBFFD0;
  border-radius: 27px;
  padding: 10px 50px;
  font-weight: 700;
  font-size: 23px;
}
.third-section-pills-two {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 70px;
  border-radius: -10px;
}
.third-section-pills-two p{
  background-color: #26A69A;
  border-radius: 27px;
  padding: 10px 50px;
  font-weight: 700;
  font-size: 23px;
}
.third-section-group{
  display: flex;
  justify-content: center;
  margin-top: 150px;
  width: auto;
  height: 30rem;
  z-index: 1;
}
.third-section-image{
  display: flex;
  justify-content: center;
}
.third-section-image img{
  position: absolute;
  top: 45%;
  right: 25px;
  transform: translateX(-36%);
  width: auto;
  height: 30rem;
  z-index: 1;
}
/* 4th Landing page */
.testimonials-section {
  position: relative;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 700px;
  background: #ffff;
  margin-bottom: 0px;
  z-index: 2;
  box-shadow: 0 5px 20px rgb(133, 133, 133);
  height: 905px;
}
.circle-1 {
  position: absolute;
  top: 0px;
  right: 950px; 
  width: 300px;
  height: 350px;
}
.circle-2 {
  position: absolute;
  bottom: 0px;
  left: 950px;
  width: 300px;
  height: 350px;
}
.circle-2 img {
  object-fit: cover;
}
.content {
  z-index: 2;
}
.title {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
  padding-top: 50px;
  margin-top: 130px;
}
.testimonials-grid {
  display: flex;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  margin-top: 80px;
}
.testimonial-card {
  background: white;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 320px;
  transition: transform 0.3s ease;
}
.testimonial-card:hover {
  transform: translateY(-5px);
}
.testimonial-card.left {
  background: #cbffd0;
  margin-top: 60px;
  width: 600px;
  z-index: 2;
  height: 400px;
  right: -35px;
}
.testimonial-card.center {
  background: #26a69a;
  width: 900px;
  height: 500px;
  z-index: 5;
}
.testimonial-card.right {
  background: #cbffd0;
  margin-top: 60px;
  width: 600px;
  z-index: 2;
  height: 400px;
  left: -35px;
}
.profile-icon {
  width: 95px;
  height: 80px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.profile-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.stars {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.stars img {
  height: 20px;
  width: auto;
}
.star-rating-3 img {
  height: 25px;
}
.star-rating-4 img {
  height: 25px;
}
.star-rating-5 img {
  height: 25px;
}
.testimonial-text {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center;
}
.author {
  font-weight: 600;
  text-align: center;
  font-size: 1.9rem;
}
/* 5th landing page */
 .problems-section{
  background-image: url("./images/Background\ image.png");
  position: relative;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  gap: 150px;
  padding-bottom: 80px;
  box-shadow: 0 5px 20px rgb(133, 133, 133);
  height: 905px;
 }
 .problems-section h1{
  position: relative;
  font-weight: 900;
  font-size: 45px;
  margin-top: 150px;
  left: -215px;
 }
 .right-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 300px;
 }
 .text-faq{
  background-color: #cbffd0;
  padding: 20px 100px 20px 20px;
  width: 520px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 120px;
  height: 80px;
 }
 .text-faq p{
  font-weight: 600;
  font-size: 23px;
 }
 .text-faq img{
  height: auto;
  width: 2.2rem;
 }
 .for-all-fag{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 30px;
  background-color: #26a69a;
  padding: 20px;
  border-radius: 20px;
  width: 560px;
  height: 450px;
 }
 .green-shape img{
  position: absolute;
  transform: translateX(-132%);
  left: 500px; 
  width: 380px;
  height: 550px;
 }
 .faq-arrow {
  position: absolute;
  right: 50%;
  transform: translate(550%);
 }
 /* 6th landing page */
 footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 2;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: #26a69a;
  box-shadow: 0 5px 20px rgb(133, 133, 133);
  max-width: 1250px;
  margin: 0 auto;
}
.footer-text h2 {
  font-weight: 700;
}
.icons {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}
.X,
.Ig,
.Fb{
  height: auto;
  width: 2.3rem;
}
.app-google-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.app-google-logo img {
  height: 3rem;
  width: 10rem;
  margin-top: 20px;
  border-radius: 10px;
}
.call-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}
.call-contact img {
  height: auto;
  width: 2rem;
}
.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  margin-top: 20px;
  margin-left: 90px;
  margin-bottom: -90px;
}
.footer-links h2 {
  font-weight: 500;
}
.logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: -130px;
  margin-top: -65px;
}
.logo-footer img {
  height: 30%;
  width: 15rem;
}
